// Menu Button
.menu-btn {
    position: absolute;
    z-index: 3;
    right: 35px;
    top: 35px;
    cursor: pointer;
    @include easeOut;

    .btn-line {
        width: 28px;
        height: 3px;
        margin: 0 0 5px 0;
        background: white;
        // make the menu-btn box properly square by removing the bottom padding on the 3: rd line
        &:nth-child(3) {
            margin: 0;
        };
        @include easeOut;
    }

    // Rotate into x with menu lines
    &.close {
        transform: rotate(180deg);

        .btn-line {
            // Line 1 - Rotate
            &:nth-child(1) {
                transform: translate(0px, 8px) rotate(45deg);
            }

            // Line 2 - Hide
            &:nth-child(2) {
                opacity: 0;
            }

            // Line 3 - Rotate
            &:nth-child(3) {
                transform: translate(0px, -8px) rotate(-45deg);
            }
        }
    }
}